<!DOCTYPE html>
<html>
<head>
<Title>
JOTEP UNIVERSE 
</Title> 
<link href="home favicon.png" rel="shortcut icon"/>
<link rel="stylesheet" href="mystyle.css">
</head>

<body>

<div class="header">
  <h1>JOTEP UNIVERSE</h1>
  <p>Hidup Untuk Menjadi Berkat dan Melayani Tuhan</p>
</div>

<div class="topnav">
  <a href="Home.html">Beranda</a>
  <a href="profil.html">Profil</a>
  <a href="https://linktr.ee/jotep_amazing21?utm_source=linktree_profile_share">Media Sosial</a>
  <a href="https://linktr.ee/shopofjtepunivere">Shop</a>
  <a href="https://youtu.be/T6U_u8MUM6M" style="float:right">About Me</a>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Apa Isi Website Ini??</h2>
      <h5>Website ini dikembangkan mulai, 9 September 2022</h5>
	  <img src="img/jotepuniverse21.png" height="600px">
      <p>Website ini akan mengupload konten-konten yang bermanfaat dan membangun</p>
    </div>
	
   <div class="card">
      <h2>Apa Tujuan Website Ini??</h2>
      <p> Agar semakin banyak orang terberkati dengan konten yang ada sdi website ini</p>
    </div>
  </div>
  
<div class="rightcolumn">
	
    <div class="card">
      <h3>Popular Post</h3>
      <div><p>Alkitab Adalah Surat Istimewa??</p></div>
      <div><p>Apa Yang Harus dilakukan Supaya Lahir dan Hidup Baru didalam Kristus??</p></div>
      <div><p>Mengapa Kita Harus Berdoa Sepanjang Waktu??</p></div>
    </div>
	
    <div class="card">
      <h3 href="https://linktr.ee/jotep_amazing21?utm_source=linktree_profile_share"> Follow Me </h3>
      <p>Jika difollow ga bakal ada ruginya, karena ini sangat berguna</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>@Copyright JOTEP UNIVERSE</h2>
</div>

</body>
</html>


